@{
    ViewBag.Title = "Contact";
}
<div class="custom_content custom">
    <div class="container large">
        <div class="row">
            <div class="col-xs-12 col-sm-8 custom_right">
                <div class="single_content_left">
                    <h3>Contact Form</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                    <div class="contact_form">
                        <form method="post" action="#">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7">
                                    <div class="form-group">
                                        <label>Name <span class="error">*</span></label>
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                </div>
                            </div>
                            <!--end row-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-7">
                                    <div class="form-group">
                                        <label>Email <span class="error">*</span></label>
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                </div>
                            </div>
                            <!--end row-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-11">
                                    <div class="form-group">
                                        <label>Message <span class="error">*</span></label>
                                        <textarea class="form-control" cols="10" rows="9"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--end row-->
                            <input type="submit" value="Send Message" class="commonBtn">
                        </form>
                    </div>
                </div>
                <!--end single content left-->
            </div>

            <div class="col-xs-12 col-sm-4 custom_left">
                <div class="sidebar">
                    <div class="list_block sidebar_item">
                        <h3>Contacts</h3>
                        <ul class="contact_info">
                            <li><i class="fa fa-home"></i>101A, Nguyễn Đệ, An Hòa, Ninh Kiều, Can Tho</li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:info@example.com">anhngucicct@gmail.com</a></li>
                            <li><i class="fa fa-phone"></i>0710.2468.007 - Hotline: 0939.422.924</li>
                            <li><i class="fa fa-globe"></i><a href="#">http://www.example.com</a></li>
                        </ul>
                    </div>
                    <div class="list_block">
                        <h3>Business Hours</h3>
                        <ul class="contact_info">
                            <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                            <li><strong>Saturday:</strong> 11am to 3pm</li>
                            <li><strong>Sunday:</strong> Closed</li>
                        </ul>
                    </div>
                    <!--end sidebar item-->
                    <div class="list_block">
                        <div class="newsletter">
                            <h3>Newsletter</h3>
                            <form method="post" action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" id="exampleInputEmail1" class="form-control">
                                </div>
                                <button class="btn btn-default btn-block commonBtn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end sidebar-->
            </div>
        </div>
        <!--end row-->
    </div>
</div>
<!--end custom content-->
<div class="contact_map">
    <iframe src="https://maps.here.com/directions/mix/mylocation/ANH-NG%E1%BB%AE-CIC-C%E1%BA%A6N-TH%C6%A0:10.053342,105.771494?map=10.05334,105.75913,12,normal&fb_locale=en_US&x=ep" width="100%" height="350" frameborder="0" style="border: 0" allowfullscreen></iframe>
</div>
