@{
    ViewBag.Title = "CourseDetail";
}

<div class="single_banner">
    <div class="container">
        <div class="single_banner_inner">
            <img src="~/Images/img/courses/banner_01.jpg" alt="" />
            <div class="single_caption">
                <h1>Applied Chemistry and Biotechnology</h1>
                <h2>Diploma in Applied Chemistry and Biotechnology</h2>
            </div>
            <!--end single caption-->
        </div>
        <!--end single_banner_inner-->
    </div>
    <!--end container-->
</div>
<!--end single banner-->

<div class="single_content">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-8 col-md-8 custom_right pull-right">
                <div class="single_content_left padding-border-left-twenty">
                    <div class="tab_menu">
                        <ul>
                            <li class="active"><a href="#explore_program" data-toggle="tab">Explore This Program</a></li>
                            <li><a href="#what_learn" data-toggle="tab">What you’llearn</a></li>
                            <li><a href="#cost" data-toggle="tab">What it costs</a></li>
                            <li><a href="#admission_requirements" data-toggle="tab">Admission Requirements</a></li>
                        </ul>
                    </div>
                    <!--end tab_menu-->
                    <div class="tab-content single_tab_content">
                        <div role="tabpanel" class="tab-pane active" id="explore_program">
                            <h1>Welcome To Royal College</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed</p>
                            <div class="admission_video">
                                <img src="~/Images/img/courses/video.jpg" data-video="https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1">
                            </div>
                            <h1>Welcome To COLÉGIO PRELÚDIO</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed</p>
                            <h1>Welcome To COLÉGIO PRELÚDIO</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="left_half">
                                        <h1>Welcome To COLÉGIO RELÚDIO</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 pull-right">
                                    <div class="right_half">
                                        <h1>Welcome To COLÉGIO RELÚDIO</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </p>
                                    </div>
                                </div>
                            </div>
                            <!--end row-->
                            <h1>Welcome To COLÉGIO PRELÚDIO</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                        </div>
                        <!--end tab-pane-->
                        <div role="tabpanel" class="tab-pane" id="what_learn">
                            <h1>Title goes here</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed</p>
                        </div>
                        <!--end tab-pane-->
                        <div role="tabpanel" class="tab-pane" id="cost">
                            <h1>Title goes here</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed</p>
                        </div>
                        <!--end tab-pane-->
                        <div role="tabpanel" class="tab-pane" id="admission_requirements">
                            <h1>Title goes here</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <!--end tab-pane-->
                    </div>
                    <!--end tab-content-->
                </div>
                <!--end single content left-->
            </div>
            <!--end custom_right-->

            <div class="col-xs-12 col-sm-4 col-md-4 custom_left pull-left">
                <div class="sidebar">
                    <div class="sidebar_item">
                        <div class="item_inner program">
                            <h4>Program At a Glance</h4>
                            <ul>
                                <li><span>Program Code:</span>010117</li>
                                <li><span>Accerediation:</span>Ontario College Of Diploma</li>
                                <li><span>Length of Study:</span>2 Years</li>
                                <li><span>Study Options:</span>Full Time</li>
                                <li><span>Campus Location:</span>College Drive</li>
                            </ul>
                        </div>
                    </div>
                    <!--end sidebar item-->
                    <div class="sidebar_item">
                        <div class="item_inner">
                            <h4>Tution Fees</h4>
                            <a href="#" class="fees">View 2015-2016 Tution Fees</a>
                        </div>
                    </div>
                    <!--end sidebar item-->
                    <div class="sidebar_item">
                        <div class="item_inner slider">
                            <h4>What Students Say</h4>
                            <div id="single_banner">
                                <ul class="slides">
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                        <div class="carousal_bottom">
                                            <div class="thumb">
                                                <img src="~/Images/img/courses/testi_thumb.png" draggable="false" alt="" />
                                            </div>
                                            <div class="thumb_title">
                                                <span class="author_name">Jeremy Asigner</span>
                                                <span class="author_designation">Web Developer<a href="#"> Here</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li style="display: none;">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                        <div class="carousal_bottom">
                                            <div class="thumb">
                                                <img src="~/Images/img/courses/testi_thumb.png" draggable="false" alt="" />
                                            </div>
                                            <div class="thumb_title">
                                                <span class="author_name">Jeremy Asigner</span>
                                                <span class="author_designation">Web Developer<a href="#">Here</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li style="display: none;">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                        <div class="carousal_bottom">
                                            <div class="thumb">
                                                <img src="~/Images/img/courses/testi_thumb.png" draggable="false" alt="" />
                                            </div>
                                            <div class="thumb_title">
                                                <span class="author_name">Jeremy Asigner</span>
                                                <span class="author_designation">Web Developer<a href="#">Here</a></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end banner-->
                        </div>
                        <!--slider-->
                    </div>
                    <!--end sidebar item-->

                    <div class="sidebar_item">
                        <div class="item_inner question">
                            <h4>Got Questions?</h4>
                            <h5>For Further Information Contact:</h5>
                            <h6>Jennifer Rouse</h6>
                            <p>Professor<br />
                                705.454.236.554 ext 55<br />
                                <a href="mailto:jenifer@example.com">jenifer@example.com</a></p>
                        </div>
                    </div>
                    <!--end sidebar item-->


                </div>
                <!--end sidebar-->
            </div>

        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end single content-->
